---------------------------------------------------------------------------------------------
<h3>Static Templates: =>>  STATIC BODY </h3>
<p>When creating a page you must select a template, which will be used as the basis for creating the new page. The template defines the structure of the resultant page, any initial content, and the components that can be used.
</p>

<p>
With the Template Editor, creating and maintaining templates is no longer a developer-only task. A type of power-user, who is called a template author, can be involved too. Developers are still required to setup the environment, create client libraries, and create the components to be used, but once these basics are in place the template author has the flexibility to create and configure templates without a development project.
</p>

<h3>The Templates Console allows template authors to:</h3>

Create a new template or copy an existing template.
Manage the lifecycle of the template.
The Template Editor allows template authors to:

Add components to the template and position them on a responsive grid.
Pre-configure the components.
Define which components can be edited on pages created with the template.
This document explains how a template author can use the template console and editor to create and manage editable templates.

<h2>For detailed information about how editable templates work at a technical level, please see the developer document Page Templates - Editable for more information.</h2>
<p></p>