<sly data-sly-include="html_head_analytics.html"/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.head="head.js"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="keywords" data-sly-unwrap="${!head.keywords}" content="${head.keywords}"/>
<meta name="description" data-sly-unwrap="${!head.description}" content="${head.description}"/>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no, initial-scale=1.0"/>

<!-- External link -->
<link data-sly-test="${properties.relCanonical}" rel="canonical" href="${properties.relCanonical @ context = 'uri' }" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" />
<sly data-sly-include="author.html"/>
<sly data-sly-include="html_head_clientlibs.html"/>

<link data-sly-test="${head.faviconPath}" rel="icon" type="image/x-icon" href="${head.faviconPath}"/>
<!--[if IE]>
<link data-sly-test="${head.faviconPath}" rel="shortcut icon" type="image/x-icon" href="${head.faviconPath}"/>
<![endif]-->
<link rel="apple-touch-icon" href="${head.designPath}/apple-touch-icon.png"/>
<link rel="apple-touch-icon-precomposed" href="${head.designPath}/apple-touch-icon-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72"
      href="${head.designPath}/apple-touch-icon-72x72-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114"
      href="${head.designPath}/apple-touch-icon-114x114-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144"
      href="${head.designPath}/apple-touch-icon-144x144-precomposed.png"/>

<title>${head.title}</title>
<meta data-sly-test="${pageProperties.noindex}" name="robots" content="noindex"/>